@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Montserrat:wght@700&family=Roboto:wght@700&family=Ubuntu:wght@700&family=Unbounded:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
main{
    width: 90vw;
    padding: 1rem;
}
p{
    text-transform: uppercase;
    text-align: left;
    font-size: 5rem;
    display: inline-flex;
    margin: 1rem;
}
span{
    display: inline-flex;
    animation: 1.1s infinite  alternate Opacity;
    -webkit-animation: 1.1s infinite  alternate Opacity;
}
@keyframes Opacity {
    0% {
      opacity: 0;
    }
  
    30% {
        opacity: .4;
    }
    50%{
        opacity: .7;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 740px) {
    p{
        font-size: 3rem;
    }
}
@media (max-width: 376px) {
    p{
        font-size: 2rem;
    }
}