@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --bg-color: #EEEEF0;
    --primary-color: #004581;
    --secondary-color: #ff7235;
    --primary-shadow: #DDE8F0;
    --secondary-shadow: #a17a69;
    --primary-link: #ED2C49;
}

/* CSS Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/*---------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
}
h2{
    text-transform: uppercase;
    text-decoration: underline;
}
hr{
    width: 95vw;
    margin: 1rem auto;
    height: .5rem;
    background-color: var(--primary-color);

}
nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background: var(--bg-color);
}

nav .profile {
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 1rem;
}

nav .profile h1 {
    text-transform: uppercase;
    margin: 1rem;
}

nav .profile img {
    width: 5rem;
    margin: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.nav li {
    margin: 1rem;
}

.nav .nav-link {
    text-decoration: none;
    font-weight: 400;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}

.nav .nav-link:visited {
    color: var(--primary-color);
}

.nav .nav-link:hover {
    font-weight: bold;
    border-bottom: 3px solid var(--secondary-color);
}

nav .menu {
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.section-hero {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.section-hero figure {
    width: 40rem;
    margin: 1rem;
}

.section-hero figure img {
    width: 100%;
}

.section-hero .bio {
    margin: 2rem;
    width: 22rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 5px var(--primary-shadow);
    -webkit-box-shadow: 1px 1px 4px 5px var(--primary-shadow);
    -moz-box-shadow: 1px 1px 4px 5px var(--primary-shadow);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section-hero .bio .bio-title,
.section-hero .bio .bio-description p {
    margin: 1rem;
}
.section-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-skills h2 {
    margin: 2rem;
}

.section-skills .container-skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-intermediate,
.skills-basic {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    margin: 2rem 0;
    padding: 1rem;
}

.cards-skills {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.cards-skills .skill {
    border-radius: 10px;
    width: 15rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 2rem 0 0;
}

.section-projects .container-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.card-project {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    background-origin: border-box;
    background-clip: content-box,border-box;
}

.card-project img {
    width: 17rem;
}

.card-project h3 {
    margin: .5rem;
    text-align: center;
}

.card-project .used-technologies {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem;
}

.card-project .links {
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.card-project .links a {
    padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--primary-link);
    color: var(--bg-color);
    font-weight: 400;
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.links a:nth-child(2) {
    background: var(--primary-color);
    color: var(--bg-color);
}

.links a:hover {
    background: var(--bg-color);
    color: var(--primary-color);
    font-weight: 900;
}

.contact {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact h2 {
    text-align: center;
}

.contact .container-form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--secondary-shadow);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.container-form form {
    width: 100%;
    margin: 1rem;
    padding: .5rem;
}

form .container-field {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.container-field label {
    margin: 0 0 1rem 0;
    color: var(--primary-color);
    font-weight: 700;
}

.container-field input {
    height: 3rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem;
}

.container-field ::placeholder {
    color: #004581;
}

.container-field textarea {
    min-height: 10rem;
    padding: 1rem;
    border-radius: .5rem;
}

.container-field input[type="submit"] {
    text-align: center;
    border: 1px solid var(--primary-color);
    width: 50%;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--bg-color);
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.container-field input[type="submit"]:hover {
    font-weight: 700;
    background: var(--primary-color);
    color: var(--bg-color);
}

.social {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0%;
    bottom: 30%;
}

.social a {
    font-size: 2rem;
    margin: 1rem;
}

.arrow {
    font-size: 2rem;
    position: fixed;
    right: 0%;
    bottom: 10%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: .5rem;
}

footer {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2C3C4F;
    color: var(--bg-color);
}

footer p {
    margin: .5rem;
    font-weight: 700;
}

footer a {
    margin: .5rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--bg-color);
}

footer div {
    display: none;
    width: 60%;
    font-size: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 900px) {

    .nav {
        opacity: 0;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 10;
        transform: translate3d(0px, -100%, 0px);
        -webkit-transform: translate3d(0px, -100%, 0px);
        -moz-transform: translate3d(0px, -100%, 0px);
        -ms-transform: translate3d(0px, -100%, 0px);
        -o-transform: translate3d(0px, -100%, 0px);
        transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -webkit-transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -moz-transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -ms-transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        -o-transition: transform 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

    .nav.show {
        box-shadow: 2px 2px 10px 8px var(--primary-shadow) inset;
        -webkit-box-shadow: 2px 2px 10px 8px var(--primary-shadow) inset;
        -moz-box-shadow: 2px 2px 10px 8px var(--primary-shadow) inset;
        background: var(--bg-color);
        opacity: 1;
        transform: translate3d(0px, 11rem, 0px);
        -webkit-transform: translate3d(0px, 11rem, 0px);
        -moz-transform: translate3d(0px, 11rem, 0px);
        -ms-transform: translate3d(0px, 11rem, 0px);
        -o-transform: translate3d(0px, 11rem, 0px);
    }
    nav .menu {
        width: 2rem;
        height: 2rem;
        background-image: url(../icons/menu-outline.svg);
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: 1px 1px 4px 2px var(--primary-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
    }
    nav .menu.closed{
        transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-image: url(../icons/close-outline.svg);
        -webkit-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -moz-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -ms-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        -o-transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
    .section-hero .bio {
        width: 30rem;
    }
    .skills-intermediate,
    .skills-basic {
       width: 95%;
    }
    .cards-skills .skill {
        width: 10rem;
    }

    .card-project {
        width: 18rem;
    }
    .card-project img{
        width: 100%;
    }
    .social {
        display: none;
    }

    .arrow {
        width: 2rem;
        height: 2rem;
        margin: 0;
    }
    footer div{
        display: flex;
    }
}

@media (max-width: 500px) {
    nav {
        flex-wrap: nowrap;
    }

    .nav.show {
       transform: translate3d(0px, 13.5rem, 0px);
       -webkit-transform: translate3d(0px, 13.5rem, 0px);
       -moz-transform: translate3d(0px, 13.5rem, 0px);
       -ms-transform: translate3d(0px, 13.5rem, 0px);
       -o-transform: translate3d(0px, 13.5rem, 0px);
}
    nav .profile {
        width: 70%;
    }

    nav .menu {
        width: 10%;
    }
}

@media (max-width: 320px) {
    .cards-skills {
        width: 95%;
    }
    .card-project {
        width: 95%;
    }

    .card-project img {
        width: 70%;
    }

    .card-project .links {
        flex-wrap: wrap;
    }

    .card-project .links a {
        text-align: center;
        margin: 1rem;
        width: 80%;
    }
}