@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --bg-color: #EEEEF0;
    --primary-color: #004581;
    --secondary-color: #ff7235;
    --primary-shadow: #DDE8F0;
    --secondary-shadow: #a17a69;
    --primary-link:#ED2C49;
}
/* CSS Resets */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}
/*---------------------------------------*/
html {
    scroll-behavior: smooth;
}
body{
    font-family:var(--font-family);
}

nav{
    border: 2px solid rgb(196, 48, 48);/*tmp*/
    /*
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background: var(--bg-color);
}
nav .profile{
    border: 2px solid black;/*tmp*/
    width: 25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: 1rem;
}
nav .profile h1{
    text-transform: uppercase;
    margin: 1rem;
}
nav .profile img{
    width: 5rem;
    margin: .5rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.nav{
    border: 2px solid rgb(96, 219, 21);/*tmp*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.nav li{
    margin: 1rem;
}
.nav .nav-link{
    text-decoration: none;
    font-weight: 400;
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
}
.nav .nav-link:visited{
    color: var(--primary-color);
}
.nav .nav-link:hover{
    font-weight: bold;
    border-bottom: 3px solid var(--secondary-color);
}
nav .menu{
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}
.section-hero{
    border: 2px solid brown;/*tmp*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.section-hero figure{
    width: 40rem;
    margin: 1rem;
}
.section-hero figure img{
    width: 100%;
}
.section-hero .bio{
    margin: 2rem;
    width: 17rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 4px 5px var(--primary-shadow);
    -webkit-box-shadow: 1px 1px 4px 5px var(--primary-shadow);
    -moz-box-shadow: 1px 1px 4px 5px var(--primary-shadow);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.section-hero .bio .bio-title,.section-hero .bio .bio-description p{
    margin: 1rem;
}
.section-skills{
    border: 2px solid black;/*tmp*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-skills h2{
    margin: 2rem;
}
.section-skills .container-skills{
    border: 2px solid rgb(128, 26, 0);/*tmp*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-intermediate,.skills-basic{
    text-align: center;
}
.cards-skills{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.cards-skills .skill{
    border-radius: 10px;
    width: 15rem;
    margin: 2rem;
    padding: 1rem;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.section-projects{
    border: 2px solid black;/*tmp*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-projects .container-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.card-project{
    width: 20rem;
    height: 25rem;
    border: 2px solid blue;
    /*tmp*/display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.card-project img{
    width: 17rem;
}
.card-project h3{
    margin: .5rem;
    text-align: center;
}
.card-project .used-technologies{
    border: 2px solid rgb(26, 26, 56);/*tmp*/
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: .5rem;
}
.card-project .links{
    border: 2px solid rgb(37, 56, 26);/*tmp*/
    width: 95%;
    display: flex;
    justify-content: space-around;
}
.card-project .links a{
    border: 2px solid rgb(33, 74, 9);
    /*tmp*/padding: .5rem 1rem;
    text-decoration: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--primary-link);
    color: var(--bg-color);
    font-weight: 400;
    transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -ms-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -o-transition: all .5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.links a:nth-child(2){
    background: var(--primary-color);
    color: var(--bg-color);
}
.links a:hover{
    background: var(--bg-color);
    color: var(--primary-color);
    font-weight: 900;
}
.contact{
    border: 2px solid black;/*tmp*/
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact h2{
    text-align: center;
}
.contact .container-form{
    border: 2px solid rgba(208, 42, 197, 0.356);/*tmp*/
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-form form{
    border: 2px solid rgba(11, 169, 85, 0.356);/*tmp*/
    width: 100%;
    margin: 1rem;
    padding: .5rem;
}
form .container-field{
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.container-field label{
    margin: 0 0 1rem 0;
    color: var(--primary-color);
    font-weight: 700;
}
.container-field input{
    height: 3rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    padding: 1rem;
}
.container-field ::placeholder{
    color: #004581;
}
.container-field textarea{
    min-height: 10rem;
    padding: 1rem;
    border-radius: .5rem;
}
.container-field input[type="submit"]{
    text-align: center;
    border: 1px solid var(--primary-color);
    width: 50%;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--bg-color);
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.container-field input[type="submit"]:hover{
    font-weight: 700;
    background: var(--primary-color);
    color: var(--bg-color);
}
.social{
    border: 2px solid blue;/*temp*/
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0%;
    bottom: 30%;
}
.social a{
    font-size: 2rem;
    margin: 1rem;
}
.arrow{
    font-size: 2rem;
    position: fixed;
    right: 0%;
    bottom: 10%;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: .5rem;
}
footer{
    border: 2px solid black;/*tmp*/
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Img/wave.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
footer p{
    margin: .5rem;
     color: var(--secondary-color);
    font-weight: 700;
}
footer  a{
    margin: .5rem;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

footer div{
    width: 60%;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}